

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 64px;
}


.submitButton {
  
  border-radius: 0.375rem;
}

.inputEmail {
  color: black;
  border: 1px solid #1F343E;
  width: 100%;
  border-radius: 0.375rem;
  padding: 20px;
  padding-left: 60px;
  font-size: 20px;
  &::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
  }
}
.emailInputWrapper {
  position: relative;
  display: inline-block;
}
.emailIcon {
  position: absolute;
  left: 20px; 
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.submitButton {
  font-family: "Noto Sans", sans-serif;
  border-radius: 0.375rem;
  background-color: #4EB3E3;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
  border: 1px solid #1F343E;
  @media (max-width: 1050px) {
    font-size: 16px;
  }
}


.messageSuccess {
  color: #16a34a;
}

.messageError {
  color: #dc2626;
} 

.mainContainer {
  background-color: #f8cc5d;
  min-height: 100vh;
  border: 1px solid #1F343E;
}

.contentMaxWidth {
  max-width: 1200px;
  padding: 64px 24px 64px 24px;
  margin: 0 auto;
  @media (max-width: 1050px) {
    max-width: 500px
  }
  @media (max-width: 1050px) {
    padding: 32px 16px 32px 16px;
  }
}

.flexColumnSection,
.flexRowLargeScreen {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1050px) {
  .flexRowLargeScreen {
    flex-direction: row;
  }
}

.card {
  background-color: #f8f4f9;
  border-radius: 16px;
  padding: 5%;
  width: 50%;
  border: 1px solid #1f343e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1050px) {
    width: 100%;
    margin-bottom: 0;
  }

}

.cardTitle {
  margin-bottom: 1rem;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 48px;
  color: #1f343e;
  letter-spacing: 0;
  text-transform: uppercase;

  @media (max-width: 1050px) {
    font-size: 32px;
  }
}

.cardText,
.smallText {
  color: #4b5563;
  margin-bottom: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;

  @media (max-width: 1050px) {
    font-weight: 400;
    font-size: 16px;
  }
}

.smallText {
  color: #6D7A80;
  line-height: 24px;
  margin-top: 72px;
}

.stepContainer {
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 1050px) {
    flex-direction: column;
  }
}

.stepForward {
  flex-direction: row;
}

.stepBackward {
  flex-direction: row-reverse;
}

.stepImage {
  width: 144px;
}

.stepContent {
  color: #1f343e;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;

  @media (max-width: 1050px) {
    text-align: center;
    font-size: 16px;
  }
}

.stepTag {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #4eb3e3;
  line-height: 32px;
  text-transform: uppercase;
}

.stepTitle {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 32px;
  color: #1f343e;
  letter-spacing: 0;
  line-height: 48px;
  text-transform: uppercase;
  margin: 16px 0;

  @media (max-width: 1050px) {
    margin: 5px 0;
  }
}

.stepsWrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 64px;
  width: 80%;

  @media (max-width: 1050px) {
    width: 100%;
  }
}

.stepsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;

  @media (max-width: 1050px) {
    width: 100%;
  }
}